@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper-pagination-bullet-active {
   background-color: #986B24 !important;
}
.swiper-pagination-bullets{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.swiper-pagination-bullet{
    height: 20px !important;
    width: 20px !important;
}